@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* light theme */
    --primary-color: #2563EB;
    --secondary-color: #1E293B;
    --accent-color: #8B5CF6;
    --background-color: #F8FAFC;
    --text-color: #0F172A;
    --black-color: #000;
    --white-color: #fff;
    --success-color: #22C55E;
    --warning-color: #F59E0B;
    --error-color: #EF4444;

    /* dark */
    --primary-color: #3B82F6;
    --secondary-color: #CBD5E1;
    --accent-color: #A78BFA;
    --background-color: #020617;
    --text-color: #F8FAFC;
    --black-color: #000;
    --white-color: #FFF;
    --success-color: #4ADE80;
    --warning-color: #FBBF24;
    --error-color: #F87171;



}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-poppins);
    }

    body {
        font-family: var(--font-inter);
        font-size: 15px;
        /* background: var(--background-color); */
    }

}