@import "tailwindcss";


@custom-variant light (&:where(.light, .light *));


@theme {

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* default theme */
    --primary-color: #F8FAFC;
    --secondary-color: #3B82F6;
    --accent-color: #8B5CF6;
    --background-color: #020617;
    --text-color: #F8FAFC;
    --success-color: #4ADE80;
    --warning-color: #FBBF24;
    --error-color: #F87171;

}

.light {
    --primary-color: #0F172A;
    --secondary-color: #2563EB;
    --accent-color: #8B5CF6;
    --text-color: #0F172A;
    --background-color: #F8FAFC;
    --success-color: #22C55E;
    --warning-color: #F59E0B;
    --error-color: #EF4444;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-poppins);
    }

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 16px;
    }


    body {
        font-family: var(--font-inter);
        font-size: 15px;
        color: var(--primary-color);
        background: var(--background-color);
    }

}


@media (max-width: 768px) {

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 16px;
    }

}

@layer components {

    .primary-btn {
        @apply text-white bg-violet-700 hover:bg-violet-600 rounded-md text-[14px] cursor-pointer
    }

    .secondary-btn {
        @apply text-white bg-transparent hover:bg-violet-700 border hover:border-violet-700 rounded-md text-[14px] cursor-pointer
    }
}

@layer utilities {

    .link-hover {
        @apply hover:text-[var(--accent-color)];
    }
}