@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));


@theme {

    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* default theme */
    --primary-color: #F8FAFC;
    --secondary-color: #3B82F6;
    --accent-color: #8B5CF6;
    --background-color: #020617;
    --text-color: #F8FAFC;
    --success-color: #4ADE80;
    --warning-color: #FBBF24;
    --error-color: #F87171;

}

.light {
    --primary-color: #2563EB;
    --secondary-color: #1E293B;
    --accent-color: #8B5CF6;
    --background-color: #F8FAFC;
    --text-color: #0F172A;
    --success-color: #22C55E;
    --warning-color: #F59E0B;
    --error-color: #EF4444;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-poppins);
    }

    body {
        font-family: var(--font-inter);
        font-size: 15px;
        background: var(--background-color);
    }

}


/* light theme */
/* --primary-color: #2563EB;
    --secondary-color: #1E293B;
    --accent-color: #8B5CF6;
    --background-color: #F8FAFC;
    --text-color: #0F172A;
    --black-color: #000;
    --white-color: #fff;
    --success-color: #22C55E;
    --warning-color: #F59E0B;
    --error-color: #EF4444; */